<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.sashgo.arstart">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="ArStart.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.ar.core" android:value="required" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>